doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Personal - Start Bootstrap Template

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column.h-100.bg-light

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Page Content
            .container.px-5.my-5
                .text-center.mb-5
                    h1.display-5.fw-bolder.mb-0
                        span.text-gradient.d-inline Resume
                .row.gx-5.justify-content-center

                    .col-lg-11.col-xl-9.col-xxl-8

                        // Experience Section
                        section
                            .d-flex.align-items-center.justify-content-between.mb-4
                                h2.text-primary.fw-bolder.mb-0 Experience
                                // Download resume button
                                // Note: Set the link href target to a PDF file within your project
                                a.btn.btn-primary.px-4.py-3(href='../assets/Ruzan Sasuri-Resume.pdf')
                                    .d-inline-block.bi.bi-download.me-2
                                    | Download Resume

                            // Experience Card 1
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-primary.fw-bolder.mb-2 March 2019 - December 2024
                                                .small.fw-bolder Software Engineer
                                                .small.text-muted F5 Networks, Inc.
                                                .small.text-muted San Francisco, CA
                                        .col-lg-8
                                            div 
                                                li Designed and implemented full-stack customer-facing features on a large-scale product, working with product, UX/UI, and engineering teams to deliver scalable solutions. Developed a multi-provider VM provisioning feature and mentored junior developers to enhance productivity and foster a collaborative environment. 
                                                li Contributed to security initiatives as part of the Security Ninjas program, writing and reviewing Threat Model Assessments for new and existing features, enhancing product security by identifying and addressing vulnerabilities during the design phase, reducing the risk of post-release security flaws. 
                                                li Implemented caching mechanisms to reduce load times of schema-generated pages from 60 seconds to 2 seconds, significantly improving user experience and system performance. 
                                                li Improved testing efficiency and collaboration by integrating Cypress into CI/CD pipelines for automated UI testing, increasing test coverage, and reducing manual QA efforts, while also promoting Test-Driven Development (TDD) and mob-programming practices to reduce post-release defects by 30% and accelerate development cycles.

                            // Experience Card 2
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-primary.fw-bolder.mb-2 2013 - 2016
                                                .small.fw-bolder Software Engineering Analyst
                                                .small.text-muted Accenture PLC.
                                                .small.text-muted Mumbai, Maharashtra, India
                                        .col-lg-8
                                            div 
                                                li Spearheaded automation initiatives by creating and deploying Perl and Shell scripts to streamline operational workflows, including disaster recovery solutions that minimized downtime during server failures, resulting in a 20% increase in recovery speed and reduced manual effort.
                                                li Automated the Unix-to-Linux (U2L) migration process by developing custom shell scripts to transfer critical configuration files and binaries, ensuring a seamless transition and improving team efficiency by reducing manual effort.
                                                li Developed and maintained web-based tools using Perl/CGI, HTML, CSS, and JavaScript to display real-time server data, improving system monitoring and accessibility for stakeholders.

 
                                            
                        // Education Section
                        section
                            h2.text-secondary.fw-bolder.mb-4 Education
                            
                            // Education Card 1
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                     .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-secondary.fw-bolder.mb-2 2016 - 2018
                                                .mb-2
                                                    .small.fw-bolder Rochester Institiute of Technology
                                                    .small.text-muted Rochester, NY
                                                .fst-italic
                                                    .small.text-muted Master's
                                                    .small.text-muted Computer Science
                                        .col-lg-8
                                            div <b>Key Courses:</b> Distributed Systems, Big Data Analytics, Foundations of Networking.

                            // Education Card 2
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-secondary.fw-bolder.mb-2 2009 - 2013
                                                .mb-2
                                                    .small.fw-bolder Mumbai University
                                                    .small.text-muted Mumbai, Maharashtra, India
                                                .fst-italic
                                                    .small.text-muted Bachelor's
                                                    .small.text-muted Computer Engineering
                                        .col-lg-8
                                            div 

                        // Divider
                        .pb-5

                        // Skills Section
                        section
                            // Skillset Card
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    // Professional skills list
                                    .mb-5
                                        .d-flex.align-items-center.mb-4
                                            .feature.bg-primary.bg-gradient-primary-to-secondary.text-white.rounded-3.me-3
                                                i.bi.bi-tools
                                            h3.fw-bolder.mb-0
                                                span.text-gradient.d-inline Professional Skills
                                        .row.row-cols-1.row-cols-md-3.mb-4
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Full stack design & implementation
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Scripting & automation
                                            .col
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Security in Design
                                        .row.row-cols-1.row-cols-md-3
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Customer Interaction
                                            .col
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Mentoring
                                    // Technologies list
                                    .mb-5
                                        .d-flex.align-items-center.mb-4
                                            .feature.bg-primary.bg-gradient-primary-to-secondary.text-white.rounded-3.me-3
                                                i.bi.bi-tools
                                            h3.fw-bolder.mb-0
                                                span.text-gradient.d-inline Technologies & Frameworks
                                        .row.row-cols-1.row-cols-md-3.mb-4
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Kubernetes
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Docker
                                            .col
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Linux
                                        .row.row-cols-1.row-cols-md-3
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 PostgreSQL
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Shell-scripting
                                            .col
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Cypress
                                    // Languages list
                                    .mb-0
                                        .d-flex.align-items-center.mb-4
                                            .feature.bg-primary.bg-gradient-primary-to-secondary.text-white.rounded-3.me-3
                                                i.bi.bi-code-slash
                                            h3.fw-bolder.mb-0
                                                span.text-gradient.d-inline Language
                                        .row.row-cols-1.row-cols-md-3.mb-4
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Typescript
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Go
                                            .col
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 JavaScript
                                        .row.row-cols-1.row-cols-md-3.mb-4
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Python
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 HTML
                                            .col
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 CSS
                                        .row.row-cols-1.row-cols-md-3.mb-4
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 SQL
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Java
                                            .col
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 C#

        // Footer
        include includes/footer.pug

        include includes/scripts.pug